<%- include('header') -%>

<div class="container container-confirm">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-xs-12">
            <div class="confirm">
                <h4 class="alert-heading">Welcome to HunterXPokemon!</h4>
                <p>Thank you for registering your team. Your registration is confirmed.</p>
                <p>Your team is now part of the HunterXPokemon community. Get ready for exciting adventures!</p>
                <p class="mb-0">Join our WhatsApp group to stay updated: <a href="https://chat.whatsapp.com/Gxi1DJZtonp0CqPFebZ0Y4" target="_blank">Join WhatsApp Group</a></p>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <video src="/video/pikachu.mp4" muted autoplay loop></video>
        </div>
    </div>
</div>

<%- include('footer') -%>