<%- include('header') -%>

<div class="container container-game">
  <h1>Want to take hint?</h1>
  <form action= "/hint/<%=code%>" method="post" >
    <img src=<%= image %> alt="">
    <div class="submit">
        <input type="text" placeholder="Enter your Email id" name="email">
        <input type="password" placeholder="Enter your password" name="password">
        <button class="btn btn-primary" type="submit">Claim Hint</button>
    </div>
</form>
</div>


<%- include('footer') -%>