<%- include('header') -%>

<div class="container container-home margin-home">
    <div class="row">
        <div class="col-lg-6">
            <h1>Welcome to HunterXPokemon</h1>
            <p>Start your journey to catch 'em all!</p>
            <a href="/register" class="btn btn-primary">Register Now</a>
        </div>
        <div class="col-lg-6">
            <img src="/images/pikachu.png" alt="Pokemon Image" class="img-fluid">
        </div>
    </div>
</div>

<%- include('footer') -%>