<%- include('header') -%>

<div class="container container-game">
  <h1>HunterXPokemon</h1>

  <div class="clue">
    <p> <%= riddle %> </p>
  </div>
  <div>
    <h3>Show this webpage screenshot to get Pokemon Card for Extra Points at help desk</h3>
  </div>
</div>


<%- include('footer') -%>